<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h4 class="h3 mb-0 text-gray-800">Gestione vini</h4>
  </div>
  <div class="row">
    <div class="col-xl-6 col-md-6 mb-6">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Lista vini</h6>
        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" (click)="nuovoVino()"><i class="fas fa-plus fa-sm text-white-50"></i> Nuovo</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table datatable class="table table-bordered" width="100%" cellspacing="0" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Anno</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let vino of tableData" (click)="selectVino(vino)">
                  <td>{{ vino.nomeVino }}</td>
                  <td>{{ vino.annoVino }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-6">
      <div class="card shadow mb-4" *ngIf="vinoSelezionato.idVino !== '' || nuovo">
        <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Aggiungi/modifica vino</h6>
          <!-- <button (click)="eliminaVino()" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i
              class="fas fa-trash fa-sm text-white-50"></i> Elimina</button> -->
        </div>
        <div class="card-body">
          <form class="">
            <div class="form-group">
              <label>Id vino</label>
              <input type="text" class="form-control form-control-user" placeholder="idvino"
                [(ngModel)]="vinoSelezionato.idVino" name="idVino" disabled>
            </div>
            <div class="form-group">
              <label>Nome vino</label>
              <input type="text" class="form-control form-control-user" placeholder="nome vino"
                [(ngModel)]="vinoSelezionato.nomeVino" name="nomeVino">
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox ">
                <input type="checkbox" class="custom-control-input" id="customCheck"
                  [(ngModel)]="vinoSelezionato.acquistabileVino" name="acquistabileVino">
                <label class="custom-control-label" for="customCheck">acquistabile</label>
              </div>
            </div>
            <div class="form-group">
              <label>Azienda</label>
              <input type="text" class="form-control form-control-user" [(ngModel)]="azienda.nomeAzienda"
                name="nomeAzienda" disabled>
            </div>
            <!-- <div class="form-group">
                            <input type="text" class="form-control form-control-user" placeholder="" [(ngModel)]="vinoSelezionato.">
                        </div> -->
            <hr>
            <div class="form-group">
              <label>Anno</label>
              <input type="text" class="form-control form-control-user" placeholder="anno"
                [(ngModel)]="vinoSelezionato.annoVino" name="annoVino">
            </div>
            <div class="form-group">
              <label>Uvaggio</label>
              <input type="text" class="form-control form-control-user" placeholder="uvaggio"
                [(ngModel)]="vinoSelezionato.uvaggioVino" name="uvaggioVino">
            </div>
            <div class="form-group">
              <label>Regione</label>
              <input type="email" class="form-control form-control-user" placeholder="regione"
                [(ngModel)]="vinoSelezionato.regioneVino" name="regioneVino">
            </div>
            <!-- <div class="form-group">
                            <textarea class="form-control form-control-user" placeholder="descrizione breve"></textarea>
                            <div class="custom-control custom-checkbox ">
                                <input type="checkbox" class="custom-control-input" id="pippo" [(ngModel)]="vinoSelezionato.descrizioneVino">
                                <label class="custom-control-label" for="pippo">html</label>
                            </div>
                        </div> -->
            <div class="form-group">
              <label>Descrizione vino</label>
              <textarea class="form-control form-control-user" placeholder="descrizione Vino"
                [(ngModel)]="vinoSelezionato.descrizioneVino" name="temaEvento" *ngIf="!descrizioneHtml"></textarea>
              <p-editor [(ngModel)]="vinoSelezionato.descrizioneVino" [style]="{'height':'250px'}"
                *ngIf="descrizioneHtml" name="descrizioneVinoH">
              </p-editor>
              <div class="custom-control custom-checkbox ">
                <input type="checkbox" class="custom-control-input" id="pluto" [(ngModel)]="descrizioneHtml"
                  name="descrizioneHtml">
                <label class="custom-control-label" for="pluto">html</label>
              </div>
            </div>
            <!-- IMMAGINE LOGO VINO -->
            <div class="form-group">
              <label>Link esterno logo vino</label>
              <input type="text" class="form-control form-control-user" placeholder="http://..."
                [(ngModel)]="vinoSelezionato.urlLogoVino" name="urlImmagineVino" disabled>
            </div>
            <div class="form-group" *ngIf="vinoSelezionato.urlLogoVino && vinoSelezionato.urlLogoVino !== ''">
              <label>Logo vino</label>
              <img [src]="vinoSelezionato.urlLogoVino">
            </div>
            <app-fileupload labelText="Carica Logo Vino" (uploaded)="fileUploadedLogo($event)" maxFileSize="200"
              folder="logovino">
            </app-fileupload>
            <!-- IMMAGINE VINO -->
            <div class="form-group">
              <label>Link esterno immagine vino</label>
              <input type="text" class="form-control form-control-user" placeholder="http://..."
                [(ngModel)]="vinoSelezionato.urlImmagineVino" name="urlImmagineVino" disabled>
            </div>
            <div class="form-group" *ngIf="vinoSelezionato.urlImmagineVino && vinoSelezionato.urlImmagineVino !== ''">
              <label>Immagine vino</label>
              <img [src]="vinoSelezionato.urlImmagineVino">
            </div>
            <app-fileupload labelText="Carica Immagine Vino" (uploaded)="fileUploadedImmagine($event)" maxFileSize="600"
              folder="immaginevino">
            </app-fileupload>
            <!-- <div class="input-group">
              <div class="custom-file">
                <label class="custom-file-label" for="inputGroupFile04">carica immagine vino</label>
                <input type="file" class="custom-file-input" id="inputGroupFile04">
              </div>
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">carica</button>
              </div>
            </div> -->
            <hr>
            <button (click)="salvaVino()" class="btn btn-primary btn-user">
              Salva
            </button>
            <button (click)="duplicaVino()" class="btn btn-danger btn-user float-right">
              Duplica
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
