<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h4 class="h3 mb-0 text-gray-800">Notifiche</h4>
    </div>
    <div class="row">
        <div class="col-xl-6 col-md-6 mb-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <table>
                        <tr>
                            <td>Banner:</td>
                            <td>70 caratteri spazi inclusi</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 30px;">Centro notifiche:</td>
                            <td>119 caratteri spazi inclusi</td>
                        </tr>
                    </table>
                </div>
                <div class="card-body">
                    <form class="">
                        <div class="form-group">
                            <label>numero caratteri: 3</label>
                            <textarea class="form-control form-control-user" placeholder="testo" rows="4"></textarea>

                        </div>
                        <a href="index.html" class="btn btn-primary btn-user">
                            invia
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>